{% extends 'base.html.twig' %}

{% block title %}AGB{% endblock %}
{% block headline %}Allgemeine Geschäftsbedingungen (AGB){% endblock %}
{% block description %}{% endblock %}
{% block breadcrumb %}AGB{% endblock %}

{% block body %}
    <div class="container py-5" data-aos="fade-up">
        <h2 class="h5">Geltungsbereich</h2>
        <p>Diese Allgemeinen Geschäftsbedingungen (im Folgenden "AGB") regeln die Nutzung des Portals für russischsprachige Spezialisten (im Folgenden "das Portal"). Durch die Nutzung des Portals erklären Sie sich mit diesen AGB einverstanden. Abweichende Bedingungen des Nutzers werden nicht anerkannt, es sei denn, ihrer Geltung wird ausdrücklich schriftlich zugestimmt.</p>

        <h2 class="h5">Leistungen des Portals</h2>
        <p>Das Portal bietet eine Plattform, auf der russischsprachige Spezialisten ihre Dienstleistungen anbieten können. Das Portal dient als Vermittler zwischen den Nutzern und den Spezialisten.</p>

        <h2 class="h5">Registrierung</h2>
        <p>Um das Portal nutzen zu können, ist eine Registrierung erforderlich. Der Nutzer ist verpflichtet, bei der Registrierung wahrheitsgemäße Angaben zu machen und seine Daten stets aktuell zu halten.</p>

        <!-- Weitere Abschnitte der AGB hier einfügen -->

        <h2 class="h5">Änderung der AGB</h2>
        <p>Das Portal behält sich das Recht vor, diese AGB jederzeit zu ändern. Die Nutzer werden über Änderungen rechtzeitig informiert. Die weitere Nutzung des Portals nach Änderung der AGB gilt als Zustimmung zu den geänderten Bedingungen.</p>

        <h2 class="h5">Schlussbestimmungen</h2>
        <p>Es gilt das Recht der Bundesrepublik Deutschland. Erfüllungsort und ausschließlicher Gerichtsstand für alle Streitigkeiten aus oder im Zusammenhang mit diesen AGB ist der Sitz des Portals, soweit der Nutzer Kaufmann, eine juristische Person des öffentlichen Rechts oder ein öffentlich-rechtliches Sondervermögen ist.</p>

        <p>Stand: 04.03.2024</p>

        <p>Für weitere Fragen stehen wir Ihnen gerne zur Verfügung.</p>

        <p>RUSPB<br>
        Konstantin Smetana, Obere Sage 39, 33184 Altenbeken<br>
        Fon: +49 176 421 46 550<br>
        </p>
    </div>
{% endblock %}