{% extends 'base.html.twig' %}

{% block title %}Контакты{% endblock %}
{% block headline %}Контакты{% endblock %}
{% block description %}{% endblock %}
{% block breadcrumb %}Контакты{% endblock %}

{% block body %}
    <div class="container py-5" data-aos="fade-up">
        <h2 class="h5">Мы к вашим услугам!</h2>
        <p>Мы будем рады услышать вас! Если у вас есть вопросы, предложения или проблемы, не стесняйтесь связаться с нами. Наша команда с удовольствием поможет вам и постарается ответить на ваши вопросы как можно скорее.</p>
        
        <h3 class="h5">Контактная информация:</h3>
        <p><strong>WhatsApp:</strong> +49 176 421 46 550<br>
        <strong>E-Mail:</strong> info@ruspb.de</p>
    </div>
{% endblock %}