{% extends 'base.html.twig' %}

{% block title %}Мы{% endblock %}
{% block headline %}Привет!{% endblock %}
{% block description %}{% endblock %}
{% block breadcrumb %}Мы{% endblock %}

{% block body %}
    <div class="container py-5" data-aos="fade-up">
        <p>Мы - Яна и Константин из Альтенбекена. В 2008 году мы взяли смелый шаг и переместились сюда из нашего родного уголка - Славгорода, где космос был немного холоднее, но душевнее. Как раз тогда мы поняли, что начинать жизнь в новой стране с непонятным языком и культурой - это как попытка залезть на крышу, используя только сковородку и зонтик.</p>

        <p>Именно из этой смеси восторга и ностальгии у нас зародилась идея этого проекта. Мы решили создать что-то большее, чем просто сайт или сервис. Мы создали целое сообщество, где каждый может найти поддержку и вдохновение в своих стартапных приключениях.</p>

        <p>Здесь мы собрали для вас не только полезные инструменты и ресурсы, но и немного тепла и дружбы. Потому что, как говорится, в дружном кругу даже кот может стать супергероем!</p>

        <p>Присоединяйтесь к нам - и давайте вместе смеяться над страхами, прыгать через барьеры и доказывать и "не забывай свои корни помни есть вещи на порядок выше..."</p>

        <p>Добро пожаловать в наше небольшое, но сердечное сообщество!</p>
    </div>
{% endblock %}