$primary: #0e1d34;

@import '../../vendor/twbs/bootstrap/scss/bootstrap';

.link-info {
    text-decoration: underline;
    cursor: pointer;
}

.posts .card {
    height: 100%;

    & > .row {
        height: 100%;;
    }

    & > .row > div {
        min-height: 150px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        height: 100%;;

        .btn-wrap {
            margin-top: auto;
        }
    }
}

.text-small {
    font-size: 0.8rem;
}