{% extends 'base.html.twig' %}

{% block title %}Добавить фирму{% endblock %}
{% block headline %}Добавить фирму{% endblock %}
{% block description %}{% endblock %}
{% block breadcrumb %}Добавить фирму{% endblock %}

{% block body %}
    <div class="container py-5" data-aos="fade-up">
        {{ include('post/_form.html.twig') }}
    </div>
{% endblock %}